
#lines {
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    background: #161615;
    z-index: 1;
}

.load_center {
    position: relative;
    width: 50vw;
    height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #fff; */
}
.center::after {
    content: '';
    color: #fff;
    position: absolute;
    height: 500px;
    width: 1px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* background-color: red; */
}
.project {
    position: absolute;
    top: 40%;
    transform: translate(0, -50%);
}
.line2 {
    position: absolute;
    /* height: 29vh; */
    top: 50%;
    left: 35%;
    transform: translate(-50%, -55%);
    stroke-dasharray: 2000;    
    stroke-dashoffset: 2000;
}
.line2_full {
    position: absolute;
    /* height: 29vh; */
    top: 50%;
    left: 35%;
    transform: translate(-50%, -55%);
    stroke-dasharray: 1500;    
    stroke-dashoffset: 1500;
    opacity: 0;
}
.line3 {
    position: absolute;
    /* height: 29vh; */
    top: 50%;
    left: 65%;
    transform: translate(-50%, -55%);
    stroke-dasharray: 3400;    
    stroke-dashoffset: 3400;
}
.line3_full {
    position: absolute;
    /* height: 29vh; */
    top: 50%;
    left: 65%;
    transform: translate(-50%, -55%);
    stroke-dasharray: 1500;    
    stroke-dashoffset: 1500;
    opacity: 0;
}