body {
    background-color: #000;
}
.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
}
.loading > div {
    color: #fff;
    font-size: 20vw;
    font-family: 'TungstenCompressed';
    font-weight: 900;
    text-transform: uppercase;
}
.loading .split > span {
    display: inline-block;
}
#section1 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#section1 .img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url("/images/bgImg_01.jpg");
    background-size: cover;
    background-position: center center;
}
#section1 .title {
    color: #fff;
    font-family: 'TungstenCompressed';
    font-weight: 700;
    width: 100%;
    color: #fff;
    z-index: 100;
    font-size: 40px;
    display: flex;
    justify-content:space-around;
    text-transform: uppercase;
    z-index: 1000;
}
#section1 .title a:hover {
    text-decoration: underline;
}