body {
    background-color: #000;
}
.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
}
.loading > div {
    color: #fff;
    font-size: 20vw;
    font-family: 'TungstenCompressed';
    font-weight: 900;
    text-transform: uppercase;
}
.loading .split > span {
    display: inline-block;
}
#section1 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#section1 .img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url("/images/bgImg_01.jpg");
    background-size: cover;
    background-position: center center;
}
#section1 .title {
    color: #fff;
    font-family: 'TungstenCompressed';
    font-weight: 700;
    width: 100%;
    color: #fff;
    z-index: 100;
    font-size: 40px;
    display: flex;
    justify-content:space-around;
    text-transform: uppercase;
    z-index: 1000;
}
#section1 .title a:hover {
    text-decoration: underline;
}


/* lines */
#lines {
    position: absolute;
    min-width: 880px;
    width: 100%;
    height: 100vh;
}
._line line {

}
.loadLine {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
}
.line2 {
    position: absolute;
    height: 30vh;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    stroke-dasharray: 2000;    
    stroke-dashoffset: 2000;
    /* opacity: 0; */
}
.line2_full {
    position: absolute;
    height: 30vh;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    stroke-dasharray: 1500;    
    stroke-dashoffset: 1500;
    opacity: 0;
}
.line3 {
    position: absolute;
    height: 30vh;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    stroke-dasharray: 3400;    
    stroke-dashoffset: 3400;
    /* opacity: 0; */
}
.line3_full {
    position: absolute;
    height: 30vh;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    stroke-dasharray: 1500;    
    stroke-dashoffset: 1500;
    opacity: 0;
}
.c-line.is-horizontal {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
}
.c-line,
._line {
    stroke-width: 1;
    fill: none;
    stroke: #fff;
}