body {
    width: 100%;
    height: 100vh;
    position: relative;
    /* overflow: hidden; */
    background-color: #151516;
}
#main {
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff;
}
#section1 .img {
    opacity: 0;
}
#section1 .title {
    opacity: 0;
    pointer-events: none;
}
#section1 .title .page-click {
    pointer-events: all;
}
.main__inner {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 70%;
    color: #fff;
    position: relative;
    padding: 2rem;
    overflow: hidden;
    box-sizing: border-box;
}
.year {
    position: absolute;
    font-size: 2rem;
    right: 2rem;
    pointer-events: none;
}
.main__list {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    align-items: center;
    justify-content:space-around;
    display: flex;
    font-size: max(1.8vw , 3vh);
}
.main__name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: min(4.20371vh, 3.48959vw);
    text-align: center;
    font-size: min(28vh, 15.83334vw);
    pointer-events: none;
}
.menu {
    position: absolute;
    font-size: 2rem;
    right: 2rem;
    bottom: 2rem;
}
.back {
    position: fixed;
    padding: 10px;
    right: 10px;
    top: 0;
    font-size: 2rem;
    z-index: 10;
}
#sub_menu {
    position: absolute;
    padding: 40px;
    bottom: 0;
    right: 0;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    pointer-events: none;
}
#sub_menu ul {
    pointer-events: all;
}
#sub_menu a:hover {
    text-decoration: underline;
}
canvas {
    background-size: cover;
    background-position: center center;
}
